.wrapper {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding-top: 40px;
}
.home__kingItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home_item {
    display: flex;
    width: 31%;
    margin: 15px 0;
    padding: 10px;
}
.home_item_icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
.style_icon {
    box-shadow: 0px 25px 35px rgb(0 0 0 / 5%), inset 0px 4px 4px rgb(0 0 0 / 10%);
    background: #23174487;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_advantage {
    font-size: 2.6rem;
    color: rgb(140, 60, 255);
}

.home_item_text {
    margin-left: 15px;
    color: white;
}
.title_advantage {
    color: rgb(140, 60, 255);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.description_advantage {
    font-size: 18px;
}

@media (max-width: 991px) {
    .home_item {
        width: 48%;
    }
}
@media (max-width: 767px) {
    .home_item {
        width: 100%;
    }
}


/* .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
} */
.icon {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}
.icon2 {
    width: 28px;
    height: 28px;
}
/* .middleText {
    padding: 0px 55px 0px 55px;
    text-align: center;
    color: black;
} */

.home_features {
    background-color: #060b26;
}
.home__text {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 37px;
}
.home_otziviH2 {
    text-align: center;
    color: white;
    font-size: 37px;
    background-color: #060b26;
    margin: 0px;
}
.home_pant {
    display: flex;
    color: white;
    padding-left: 15%;
}
.home_block {
    margin-top: 30px;
}

.msi {
    width: 640px;
    height: 500px;
}
.checkmark {
    width: 50px;
    height: 50px;
}
.home_block__item {
    display: flex;
}
.text {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
}

.nothing {
    width: 30%;
    border-bottom: 1px solid rgb(140, 60, 255);
    margin: 0 auto;
    height: 1px;
}
i {
  border: solid rgb(140, 60, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 18px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.downDown {
    display: flex;
    justify-content: center;
}

/* home_icons */
.home_icons {
    background-color: #060b26;
    padding-bottom: 17px;
}
.home_h1 {
    color: white;
    text-align: center;
}
.home_icons__items {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.home__item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__item:hover {
    background-color: rgb(140, 60, 255);
}
.home__icon:hover {
    color: white;
}
.home__icon {
    font-size: 30px;
    color: rgb(140, 60, 255);
}
.home_p {
    font-size: 21px;
    color: white;
}
/* home_icons */

.button_div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
button {
  font-size: 2em;
  background: #23174487;
  color: #fff;
  border: 0.25rem solid rgb(140, 60, 255);
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: rgb(140, 60, 255);
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}

/* media */
@media screen and (max-width: 1090px) {
    .home_pant {
        display: flex;
        color: white;
        padding-left: 7%;
    }
}

@media screen and (max-width: 980px) {
    .home_pant {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .msi {
        width: 540px;
        height: 400px;
    }
    .home_icons {
        padding-top: 40px;
    }
}
@media screen and (max-width: 719px) {
    .home__item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 680px) {
    .msi {
        width: 440px;
        height: 300px;
    }
}
@media screen and (max-width: 550px) {
    .home_pant {
        width: 93%;
    }
    .home_icons__items {
        flex-direction: column;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .home__item {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 475px) {
    .msi {
        width: 340px;
        height: 230px;
    }
}

/* media */