.services {
    background-color: #060b26;
}

.top_text {
    padding-top: 30px;
}
.h2_text {
    text-align: center;
    color: white;
}

.about_company {
    display: flex;
}
.p_about {
    color: white;
    padding: 25px;
    font-size: 19px;
    width: 68%;
}
.img {
    width: 320px;
    height: 280px;
    margin-left: 90px;
}

.h3_items {
    color: white;
    text-align: center;
}
.nothing {
    width: 37%;
    border-bottom: 1px solid rgb(140, 60, 255);
    margin: 0 auto;
    height: 1px;
}
.services_items {
    width: 35%;
}
.items {
    margin-top: 25px;
}
.item {
    display: flex;
    padding-left: 20%;
    padding-bottom: 20px;
}
.item_icon {
    color: rgb(140, 60, 255);
    font-size: 30px;
}
.p_item {
    color: white;
    font-size: 22px;
    margin-left: 15px;
}

.katalog {
    display: flex;
}

/* LEEESGOOO */
.services_topBlock {
    display: flex;
    justify-content: center;
    background-color: black;;
    padding-top: 30px;
    padding-bottom: 30px;
}
.topBlock_text {
    width: 40%;
    padding-top: 20px;
    color: #cac7d6;
}
.services_mainText {
    font-size: 40px;
}
.services_purpText {
    color: rgb(140, 60, 255);
    font-size: 24px;
}
.services_jtext {
    font-size: 18px;
}
.services_pc {
    width: 360px;
    height: 350px;
}

/* dadadada */
.services_select {
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #060b26;
}
.select_text {
    text-align: center;
    color: #cac7d6;
    font-size: 30px;
}
.select_items_block{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.select_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}
.select_item_text {
    color: #cac7d6;
    padding-top: 10px;
}
.select_item_text_p1 {
    font-size: 24px;
    color:rgb(140, 60, 255);
}
.select_item_text_p2 {
    font-size: 18px;
}

.miniImg {
    width: 150px;
    height: 150px;
}
.select_item_text a {
    text-decoration: none;
    color: #cac7d6;
}
.select_item_text a:hover {
    color:rgb(140, 60, 255);
}

@media screen and (max-width: 670px) {
    .services_topBlock {
        flex-direction: column;
    }
    .topBlock_text {
        width: 100%;
        padding: 15px;
    }
    .select_items_block {
        flex-direction: column;
    }
}